# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran compiled modules
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
.vs/
build/
x64/
Debug/
Release/
*.user
*.suo
*.db
*.opendb
*.sdf
*.ipch
*.log
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.recipe

# User Saves
saves/*.txt
